body {
    text-align : center;
    background-color: #000;
    color: #fff !important;
}

.add-todo {
    margin: auto 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.add-todo h2 {
    color: chocolate;
}

form {
    text-align: center;
}


.todo-item {
    margin: 0 auto !important;
    width: 90% !important;
    border-bottom: 1px solid #ccc;
}


li , button{
    color : #fff !important;
}

input[type="checkbox"] {
    border-color: #fff !important;
}