body {
    background-color: #000;
    color: #fff !important;
}

table {
    width: 90%;
    margin: 0 auto !important;
}

table td {
    width: 100% !important;
}

table tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}

input {
    outline: none;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
}

button {
    width: 50px;
    height: 30px;
    background-color: #9e9e9e;
    outline: none;
    cursor : pointer;
}

.add-todo {
    margin: auto 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-todo h2 {
    color: #ffeb3b;
    font-weight: lighter;
}

.input-todo {
    width: 90%;
}

.todo-row {
    display: flex;
    justify-content: space-between;
}

.mytodo {
    width : 100%;
    display : inline;
    padding: 5px 10px;
}
